<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jdbc.mapper.EmployeeMapper">
    <update id="updateSelary">
        update employee set salary = salary -100 where id = #{id}
    </update>
    <select id="getEmpById" resultType="com.study.jdbc.dto.Employee">
        select * from employee where id =#{id}
    </select>
</mapper>